
.checked b,.checked p{
    background-color:royalblue !important;
}
.success b, .success p{
    background-color:seagreen !important;
}
.error b, .error p{
    background-color:red !important;
}

.blur{
    filter: blur(5px);
}

.hiden{
    display: none;
}